extends ../layout

block head
	script(src="/javascripts/applicants.js")

block content
	h1 Thank you
	p Thanks for your interest in joining MCEMS!
	p
		| Your application for membership has been 
		| received. We'll be expecting you at the 
		| interview time you selected!
	p
		| If you have any questions in the meantime,
		| you can always email us at 
		a(href="mailto:ems@muhlenberg.edu") ems@muhlenberg.edu
		| .