extends ../layout

block head
	script(src="/javascripts/events.js")

block content
	h1 Create Event
	form(action='/events/create', method='post')
		p
			label Title: 
			input(type="text", name="title")
		p
			label Type: 
			select(name="type")
				option Medical
				option PR
		p
			label Link: 
			input(type="text", name="link")
		p
			input.button.big.primary(type="submit", value="Create Event")