extends ../layout

block content
	h1 Change Password
	form(action="", method="post")
		p Old Password:
			input(type="password", name="old_password", autofocus="autofocus")
		p New Password:
			input(type="password", name="new_password")
		p
			input.button.big(type="submit", value="Change Password")