extends ../layout

block content
	h1 Create Member
	form(action="", method="post")
		p First Name:
			input(type="text", name="first_name")
		p Last Name:
			input(type="text", name="last_name")
		p Username:
			input(type="text", name="username")
		p Password:
			input(type="password", name="password")
		p Login Enabled:
			input(type="checkbox", name="login_enabled", value="true", checked="checked")
		p Unit:
			input(type="text", name="unit")
		p Training Corps:
			input(type="checkbox", name="training_corps", value="true")
		p Probationary:
			input(type="checkbox", name="probationary", value="true")
		p EMT:
			input(type="checkbox", name="emt", value="true")
		p Driver Trainee:
			input(type="checkbox", name="driver_trainee", value="true")
		p Driver:
			input(type="checkbox", name="driver", value="true")
		p Crew Chief Trainee:
			input(type="checkbox", name="crew_chief_trainee", value="true")
		p Crew Chief:
			input(type="checkbox", name="crew_chief", value="true")
		p Manage Schedule:
			input(type="checkbox", name="schedule", value="true")
		p Manage Members:
			input(type="checkbox", name="members", value="true")
		p Manage Accounts:
			input(type="checkbox", name="accounts", value="true")
		p Manage Events:
			input(type="checkbox", name="events", value="true")
		p
			input(type="submit", value="Create")