extends ../layout

block content
	h1= 'Edit ' + member.name.first + ' ' + member.name.last

	form(action="", method="post")
		p First Name:
			input(type="text", name="first_name", value=member.name.first)
		p Last Name:
			input(type="text", name="last_name", value=member.name.last)
		p Unit:
			input(type="text", name="unit", value=member.unit)
		p Probationary:
			if member.probationary
				input(type="checkbox", name="probationary", value="true", checked="checked")
			else
				input(type="checkbox", name="probationary", value="true")
		p Driver:
			if member.driver
				input(type="checkbox", name="driver", value="true", checked="checked")
			else
				input(type="checkbox", name="driver", value="true")
		p Crew Chief:
			if member.crew_chief
				input(type="checkbox", name="crew_chief", value="true", checked="checked")
			else
				input(type="checkbox", name="crew_chief", value="true")
		p
			input(type="submit", value="Save")
	form(action="/members/delete/"+member._id, method="post")
		input(type="submit", value="Delete")