fieldset.hours
	legend My Hours
	.container
		p
			a#getHoursForRange.button.pill Select Range...
		table.data
			tr
				th= moment().subtract('months', 2).format('MMMM')
				th= moment().subtract('months', 1).format('MMMM')
				th= moment().format('MMMM')
				th All-Time
			tr
				td#m3hours Loading...
				td#m2hours Loading...
				td#m1hours Loading...
				td#allTimeHours Loading...
		.item
			p
				b Note:
			p
				| There is currently a bug in computing 
				| the number of hours. The all-time total 
				| is correct, but individual ranges may not be.
