extends ../layout

block content
	h1 Members
	p
		a(href="/members/create") Create Member
	table
		tr
			th Name
			th Unit
			th Actions

		each member in members
			tr
				td= member.name.first + ' ' + member.name.last
				td= member.unit
				td
					a(href='/members/edit/'+member._id) Edit