fieldset.service_credits
	legend Service Credits
	.container
		if member._id == authMember._id
			button#showAddServiceCreditDialog.button.pill(type="button") Request Service Credit
		#serviceCreditContainer