extends ../layout

block content
	form(action="/schedule/add-shift", method="post")
		p Start
			input(type="datetime", name="start")
		p End
			input(type="datetime", name="end")
		p Name
			input(type="text", name="name")
		p Ride Status
			select(name="rideStatus")
				option Probationary
				option Member
				option Driver
				option Crew Chief
		p
			input(type="submit", value="Add Shift")