extends ../layout
block content
    h1 Hour Report
    p
        | From 
        input#start_date(type='text')
        |  to 
        input#end_date(type='text')
    each member in members
        p
            | #{member.name.last}, #{member.name.first}: 
            span.member_hours(data=member.id) Loading...
    script.
        // set current date
        $('#start_date').val(moment().format('MM/DD/YYYY'));
        $('#end_date').val(moment().format('MM/DD/YYYY'));

        $('#start_date').datepicker();
        $('#end_date').datepicker();

        // load table
        loadTable = function () {
            $('.member_hours').each(function (el) {

                var id = $(this).attr('data');
                var qs;

                var start = moment( $('#start_date').val() );
                var end = moment( $('#end_date').val() );

                var sy = start.year();
                //- months are zero-indexed
                var sm = start.month() + 1;
                var sd = start.date();

                var ey = end.year();
                var em = end.month() + 1;
                var ed = end.date();

                qs = '?sy=' + sy
                    + '&sm=' + sm
                    + '&sd=' + sd
                    + '&ey=' + ey
                    + '&em=' + em
                    + '&ed=' + ed;

                var url = '/members/stats/' + id + '.json' + qs;

                console.log('fetching ' + url);


                $.getJSON(url, function (data) {
                    console.log(data);
                    $(this).text(data.hours);
                });
            });
        };

        $('#start_date').on('change', loadTable);
        $('#end_date').on('change', loadTable);

        loadTable();
