extends layout

block head
	meta(name="description", content="Sorry, the page you requested does not exist.")
	meta(name="og:description", content="Sorry, the page you requested does not exist.")
	meta(name="twitter:description", content="Sorry, the page you requested does not exist.")

block content
	h1 Not Found
	p Sorry, this page does not exist!