extends layout

block head
	meta(name="description", content="There was an error processing your request. Sorry about that!")
	meta(name="og:description", content="There was an error processing your request. Sorry about that!")
	meta(name="twitter:description", content="There was an error processing your request. Sorry about that!")

block content
	h1= title
	p= message