doctype 5
html(lang="en", itemscope, itemtype="http://schema.org/Organization")
  head
    title= (title || 'Muhlenberg College EMS')
    link(rel='stylesheet', href='/static/mcems.css')
    script(src='/static/jquery-1.10.2.min.js')
    script(src='/static/jquery-ui-1.10.3.min.js')
    script(src='/static/moment.min.js')
    script(src='/static/mcems.js')
    link(rel='shortcut icon', href='/static/favicon.ico')
    meta(property="og:image", content="http://www.bergems.org/static/mcems.png")
    meta(property="og:title", content=(title || 'Muhlenberg College EMS'))
    meta(property="og:site_name", content="Muhlenberg College EMS")
    meta(itemprop="name", content="Muhlenberg College EMS")
    meta(itemprop="image", content="http://www.bergems.org/static/mcems.png")
  body
    .master
        .help Experiencing a problem? This is brand new software. Contact Ben Burwell for help.
        .title Muhlenberg College EMS
        nav.auth
            if authMember
                span Loggged in as 
                if authMember.account.permissions.accounts || authMember.account.permissions.members
                    a(href='/members/edit/' + authMember._id)= authMember.name.first + ' ' + authMember.name.last
                else
                    a(href='/me')= authMember.name.first + ' ' + authMember.name.last
                span  — 
                a(href="/me/change_password") Change Password
                span  — 
                a(href="/logout") Log Out
            else
                a(href="/login") Log In
        nav.main
            ul#nav
                for page in nav_items
                    li
                        a(href='/page/'+page.url)= page.name
                if authMember
                    li
                        a(href="/me") Tools
                        ul
                            li
                                a(href="/schedule") Schedule
                            li
                                a(href="/events") Event Signups
                            li
                                a(href="/members") Members
                            if authMember.account.permissions.members
                                li
                                    a(href="/applicants") Applicants
                                li
                                    a(href="/members/certifications") Certifications
                            if authMember.account.permissions.broadcast
                                li
                                    a(href="/broadcast") Broadcast
                            if authMember.account.permissions.service_credit
                                li
                                    a(href="/members/service-credits") Service Credits
                            if authMember.account.permissions.pages
                                li
                                    a(href="/pages") Pages
        block content
