doctype 5
html
  head
    title= (title || 'Muhlenberg College EMS')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/schedule.css')
    link(rel='stylesheet', href='/jquery/jquery-ui.min.css')
    script(src='/jquery/jquery-1.9.1.min.js')
    script(src='/jquery/jquery-ui.min.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/schedule.js')
    script(src='/javascripts/members.js')
    script(src='/javascripts/events.js')
  body
    .help Experiencing a problem? This is brand new software. Contact Ben Burwell for help.
    .title Muhlenberg College EMS
    nav.auth
        if authMember
            span Loggged in as 
            if authMember.account.permissions.accounts || authMember.account.permissions.members
                a(href='/members/edit/' + authMember._id)= authMember.name.first + ' ' + authMember.name.last
            else
                a(href='/me')= authMember.name.first + ' ' + authMember.name.last
            span  — 
            a(href="/me/change_password") Change Password
            span  — 
            a(href="/logout") Log Out
        else
            a(href="/login") Log In
    nav.main
        a(href="/") Home
        if authMember
            a(href="/schedule") Schedule
            a(href="/events") Event Signups
            if authMember.account.permissions.members || authMember.account.permissions.accounts
                a(href="/members") Members
    block content
