doctype 5
html
  head
    title= (title || 'Muhlenberg College EMS')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/schedule.css')
    link(rel='stylesheet', href='/jquery/jquery-ui.min.css')
    script(src='/jquery/jquery-1.9.1.min.js')
    script(src='/jquery/jquery-ui.min.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/schedule.js')
    script(src='/javascripts/members.js')
  body
    .title Muhlenberg College EMS
    nav.main
        a(href="/") Home
        if authMember
            a(href="/schedule") Schedule
            if authMember.account.permissions.members || authMember.account.permissions.accounts
                a(href="/members") Members
            a(href="/me/change_password") Change Password
            a(href="/logout") Logout (
                span= authMember.name.first
                |  
                span= authMember.name.last
                | )
        else
            a(href="/login") Log In
    block content