extends layout

block head
	meta(name="description", content=description)
	meta(name="og:description", content=description)
	meta(name="twitter:description", content=description)

block content
	.content!= content