fieldset.certifications
	legend Certifications
	.container
		if authMember.account.permissions.members
			button#addNewCertification.button.pill(type="button") Add New Certification
		#certificationContainer(class=authMember.account.permissions.members? 'editable' : undefined)