fieldset.hours
	legend My Hours
	.container
		p
			a#getHoursForRange.button.pill Select Range...
		table.data
			tr
				th= moment().subtract(2, 'months').format('MMMM')
				th= moment().subtract(1, 'months').format('MMMM')
				th= moment().format('MMMM')
				th All-Time
			tr
				td#m3hours Loading...
				td#m2hours Loading...
				td#m1hours Loading...
				td#allTimeHours Loading...
