.edit_member {
	position: relative;
	height: 70em;
}

.hidden {
	display: none;
}

.edit_member fieldset {
	border: none;
	width: 20em;
	padding: 0;
	padding-top: 1em;
	height: 30em;
}

.edit_member fieldset .container {
	overflow: scroll;
	overflow-x: hidden;
	height: 28em;
	padding: 0.5em;
}

.edit_member fieldset .container:hover {
	background-color: #ffc;
}

.edit_member legend, h2 {
	font-size: 1.2em;
	font-weight: bold;
}

.edit_member .member {
	position: absolute;
	top: 0;
	left: 0;
}

.edit_member .account {
	position: absolute;
	top: 0;
	left: 20em;
}

.edit_member .account input[type="password"] {
	width: 4em;
}

.edit_member .member input[type="text"] {
	width: 16em;
}

.edit_member .certifications {
	position: absolute;
	top: 0;
	left: 40em;
}

.edit_member .emails {
	position: absolute;
	top: 0;
	left: 60em;
}

.edit_member .service_credits {
	position: absolute;
	top: 35em;
	left: 0px;
}

.edit_member .shifts {
	position: absolute;
	top: 35em;
	left: 20em;
}

.edit_member .hours {
	position: absolute;
	top: 35em;
	left: 40em;
}

.member_details {
	position: relative;
}

.member_details .buttons {
	position: absolute;
	top: 0px;
	right: 0px;
}

/* certifications & emails */
.item {
	border: 1px solid #666;
	border-radius: 8px;
	font-size: 12px;
	padding: 10px;
	margin: 10px;
	background-color: #eee;
}

.email.confirmed, .approved {
	background-color: #efe;
}

.email.unconfirmed, .credit.unapproved {
	background-color: #fee;
}

#certificationContainer.editable .certification:hover {
	background-color: #c00;
	color: #fff;
	cursor: pointer;
}

#emailContainer.editable .email:hover {
	cursor: pointer;
}

.item p {
	margin: 0;
	padding: 0;
}
