.edit_member {
	position: relative;
	height: 600px;
	border-bottom: 1px solid #666;
}

.hidden {
	display: none;
}

.edit_member fieldset {
	border: 1px solid #666;
	width: 300px;
	padding: 10px;
	height: 500px;
	overflow: scroll;
}

.edit_member legend, h2 {
	font-size: 20px;
	font-weight: bold;
}

.edit_member .member {
	position: absolute;
	top: 0;
	left: 0;
}

.edit_member .account {
	position: absolute;
	top: 0;
	left: 350px;
}

.edit_member .certifications {
	position: absolute;
	top: 0;
	left: 700px;
}

.edit_member .emails {
	position: absolute;
	top: 0;
	left: 1050px;
}

.edit_member .save {
	position: absolute;
	top: 550px;
	left: 60px;
}

.edit_member .delete {
	position: absolute;
	top: 550px;
	left: 0;
}

/* certifications & emails */
.certification, .email, .credit {
	border: 1px solid #666;
	border-radius: 8px;
	font-size: 12px;
	padding: 10px;
	margin: 10px;
}

#certificationContainer .certification {
	background-color: #eee;
}

#emailContainer .email.confirmed, .approved {
	background-color: #efe;
}

#emailContainer .email.unconfirmed, .credit.unapproved {
	background-color: #fee;
}

#certificationContainer.editable .certification:hover {
	background-color: #c00;
	color: #fff;
	cursor: pointer;
}

#emailContainer.editable .email:hover {
	cursor: pointer;
}

#certificationContainer .certification p, #emailContainer .email p {
	margin: 0;
	padding: 0;
}

.service_credits {
	margin-top: 10px;
}