table.calendar {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

h1.calendar, nav.calendar {
	text-align: center;
}

nav.calendar {
	padding-bottom: 1em;
}

table.calendar td {
	width: 12em;
	height: 14em;
	border: 1px solid #999;
	vertical-align: top;
}

table.calendar td.incomplete {
	background-color: #fdd;
}

table.calendar td.null {
	background-color: #999;
}

table.calendar .crew_chief .shift .name, .key .crew_chief {
	font-weight: bold;
}

table.calendar .crew_chief, table.calendar .member {
	padding-bottom: 0.5em;
}

table.calendar .shift .time {
	font-size: 0.65em;
	padding-right: 0.2em;
}

table.calendar .shift .name {
	font-size: 0.8em;
	color: #000;
}

table.calendar .shift .unit {
	font-size: 0.65em;
	color: #999;
}

table.calendar .shift .probationary, .key .probationary {
	font-style: italic;
}

table.calendar .shift .driver, .key .driver {
	color: #33f;
}

table.calendar .shift .training_corps, .key .training_corps {
	color: #999;
}

table.calendar td.weekend {
	background-color: #eee;
}

table.calendar td.editable:hover {
	background-color: #ffffcc;
	cursor: pointer;
}

table.calendar td.incomplete:hover {
	background-color: #fcc;
}

.key {
	text-align: center;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	font-size: 0.8em;
}

table.calendar td.editable .shift.editable .name:hover {
	border-bottom: 1px solid #000;
}

.key * {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#message {
	text-align: center;
	background-color: #ffc;
	padding: 0.5em;
	color: #666;
	border: 1px solid #eee;
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 1em;
	border-radius: 0.5em;
}

#message.editable:hover {
	cursor: pointer;
}

#message #updated_message {
	width: 40em;
}