body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav.main {
	background-color: #eee;
	padding: 10px;
	border-radius: 5px;
}

nav.main a {
	padding-right: 10px;
}

.title {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.hidden  {
	display: none;
}

.error {
	color: #900;
	font-style: italic;
}

table.spread {
	border-collapse: collapse;
}

table.spread td, table.spread th {
	padding: 8px;
	margin: 0;
}

table.spread tr:hover {
	background-color: #ffc;
}

table.spread tr:first-child:hover {
	background-color: transparent;
}

a.danger {
	color: #900;
}

nav.auth {
	font-size: 12px;
	text-align: right;
	margin: 5px;
}

.help {
	color: #fff;
	background-color: #900;
	font-size: 12px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 8px;
	z-index: 100;
}