* {
	margin: 0;
	padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333;
}

.master {
	width: 1148px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: 5em;
	border: 10px solid #666;
	border-radius: 10px;
	background-color: #666;
}

a {
  color: #0976BA;
}

/*******/

#nav {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
    position: relative;
    z-index: 5;    
    background-color: #ddd;
    font-size: 1em;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}

#nav li {
    float: left;
    margin-right: 5px;
    position: relative;
    background-color: #ddd;
}

#nav a {
    display: block;
    padding: 1em;
    color: #900;
    text-decoration: none;
}

#nav a:hover {
    color: #fff;
    background: #999;
}

#nav ul {
    background: #fff;
    background: rgba(255,255,255,0);
    list-style: none;
    position: absolute;
    left: -9999px;
}

#nav ul li {
    padding-top: 1px;
    float: none;
}

#nav ul a {
    white-space: nowrap;
}

#nav li:hover ul {
    left: 0;
    padding-left: 0;
    margin-left: 0;
}

/*******/

.title {
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	background-color: #900;
	padding: 0.5em;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
}

.title a {
	color: #fff;
	text-decoration: none;
}

.title img {
	height: 2em;
	margin-left: 2em;
	margin-right: 2em;
	vertical-align: middle;
}

.hidden  {
	display: none;
}

.error {
	color: #900;
	font-style: italic;
}

table.spread {
	border-collapse: collapse;
}

table.spread td, table.spread th {
	padding: 0.5em;
	margin: 0;
}

table.spread tr:hover {
	background-color: #ffc;
}

table.spread tr:first-child:hover {
	background-color: transparent;
}

a.danger {
	color: #900;
}

nav.auth {
	font-size: 0.8em;
	text-align: right;
	padding: 1em;
	color: #ccc;
	width: 1148px;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 1px 0 rgb(0, 0, 0);
}

nav.auth a {
	color: #ccc;
}

nav.main {
	position: relative;
	display: block;
	height: 3em;
}

.expiring_soon {
	background-color: #fee;
}

input[type="text"], input[type="password"], option {
	font-size: 1em;
}

table.data {
	border: 1px solid #000;
	border-collapse: collapse;
	background-color: #fff;
}

table.data th {
	background-color: #eee;
	padding: 1em;
}

table.data td {
	text-align: center;
	padding: 1em;
	margin: 0;
}

#editing_page_content {
	width: 100%;
	height: 20em;
	font-family: monospace;
	font-size: 1em;
}

textarea {
	width: 50em;
	height: 10em;
}

.content {
	padding: 1em;
	background-color: #fff;
}

.content h1 {
	margin-bottom: 1em;
}

.content h1 {
	margin-bottom: 1em;
}

.content p, .dialog p {
	margin-bottom: 1em;
}

.content ul {
	margin-left: 2em;
}

.content li {
	margin-bottom: 1em;
}

.content img {
	padding: 1em;
}

.dialog textarea {
	width: 380px;
}

footer {
	background-color: #900;
	color: #fff;
	font-size: 0.7em;
	padding: 1em;
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

footer a {
	color: #fff;
}