extends ../layout

block content

	form(action="", method="post")
		p
			label Member
			select(name="member")
				option(value="") ----
				each member in members
					option(value=member._id)= member.name.first + ' ' + member.name.last
		p
			label Username
			input(type="text", name="username")
		p
			label Password
			input(type="password", name="password")
		p
			label Email
			input(type="text", name="email")
		p
			label(for="send_email")
				input#send_email(type="checkbox", name="send_email", value="true")
				| Send the user an email with their password
		p
			input(type="submit", value="Create")

		fieldset
			legend Permissions
			p
				label Schedule View
				input(type="checkbox", name="permissions_schedule_view", value="true")
			p
				label Schedule Edit
				input(type="checkbox", name="permissions_schedule_edit", value="true")
			p
				label Members View
				input(type="checkbox", name="permissions_members_view", value="true")
			p
				label Members Edit
				input(type="checkbox", name="permissions_members_edit", value="true")
			p
				label Users View
				input(type="checkbox", name="permissions_users_view", value="true")
			p
				label Users Edit
				input(type="checkbox", name="permissions_users_edit", value="true")