extends ../layout

block content
	h1 Users
	p
		a(href="/users/create") Create User
	table
		tr
			th Login
			th Last Login
			th Actions

		each user in users
			tr
				td= user.username
				td= user.last_login
				td Details