.dialog#addEmailDialog(title="Add Email Address")
	p Email Address:
		input#emailAddress

.dialog#addMobileDialog(title="Add Cell Phone")
	p Carrier:
		select#carrier
			option Verizon
			option AT&T
	p Phone Number:
		input#mobileNumber
	p This will allow you to receive important MCEMS alerts by text.

.dialog#editEmailDialog(title="Confirm or delete address")
	p Enter confirmation code:
		input#confirmationCode