.dialog#addCertificationDialog(title="Add Certification")
	p Type:
		select#certificationType
			option EMT
			option CPR
			option Driver's License
			option Epi Pen
			option CEVO
			option EVOC
			option IS 100
			option IS 200
			option IS 700
			option IS 800
			option NREMT
			option TB Test
			option Hepatitis B Vaccination
	p Number:
		input#certificationNumber
	p Issue Date:
		input#issueDate
	p Expiration Date:
		input#expiryDate
